@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li, ul {
  list-style: none;
}

body {
  background: #0c192c;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body .menuBtn {
  position: fixed;
  top: 40px;
  left: 75px;
  width: 40px;
  height: 20px;
  z-index: 200;
  cursor: pointer;
  transition: 0.3s;
}
body .menuBtn span {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #585858;
}
body .menuBtn span::before, body .menuBtn span::after {
  display: block;
  content: "";
  position: relative;
  width: 40px;
  height: 4px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #585858;
  transition: 0.2s;
}
body .menuBtn span::before {
  top: -8px;
}
body .menuBtn span::after {
  top: 4px;
}
body .menuBtn:hover span::before {
  top: 0px;
  transform: rotate(45deg);
}
body .menuBtn:hover span::after {
  top: -5px;
  transform: rotate(-45deg);
}
body .back {
  position: relative;
  width: 100%;
  height: 100vh;
}
body .back .stars {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
body .back .stars span {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(79, 195, 220, 0.2666666667), 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: bubleAni 15s linear infinite;
  animation-duration: calc(250s / var(--i));
  opacity: 0.5;
}
body .back .stars span:nth-of-type(even) {
  background-color: #f0fa95;
  box-shadow: 0 0 0 10px rgba(241, 245, 184, 0.2666666667), 0 0 50px #f0fa95, 0 0 100px #f0fa95;
}
body main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  perspective: 700px;
}
body main .menu {
  position: relative;
  width: 180px;
  height: 100%;
  transform: rotateY(-90deg);
  transform-origin: left center;
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(97, 97, 97, 0.5);
  backdrop-filter: blur(10px);
  transition: 1.5s;
  z-index: 2;
}
body main .menu .close {
  width: 30px;
  height: 30px;
}
body main .menu .close span {
  display: block;
  position: relative;
  left: 130px;
  top: 30px;
  width: 30px;
  height: 3px;
  border-radius: 25px;
  background-color: #fff;
  transform: rotate(-45deg);
  transition: 0.4s;
  cursor: pointer;
}
body main .menu .close span::after {
  display: block;
  content: "";
  position: relative;
  width: 30px;
  height: 3px;
  border-radius: 25px;
  background-color: #fff;
  transition: 0.2s;
  top: 0px;
  transform: rotate(-90deg);
}
body main .menu .close:hover span {
  transform: rotate(-135deg);
}
body main .menu ul {
  position: relative;
  top: 180px;
  left: 20px;
}
body main .menu ul li {
  margin-bottom: 40px;
}
body main .menu ul li a {
  display: block;
  font-size: 16px;
  color: #ddd;
  font-family: Lugrasimo;
  text-shadow: 0px 0px 4px #a5e76f;
  transition: 0.3s;
}
body main .menu ul li a:hover {
  transform: scale(0.95);
  color: #888;
}

@keyframes bubleAni {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
.mainVisual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(97, 97, 97, 0.5);
  background-color: none;
  transform: rotateY(0deg);
  transform-origin: right center;
  transition: 1.5s;
}
.mainVisual .on {
  z-index: 99;
  opacity: 1;
}
.mainVisual section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 2s;
}
.mainVisual section h2 {
  font-size: 40px;
  color: #ddd;
  font-family: Lugrasimo;
  text-shadow: 0px 0px 4px #a0a743;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.home h1 {
  font-size: 50px;
  color: #ddd;
  font-family: Lugrasimo;
  text-shadow: 0px 0px 4px #a0a743;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.home p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #bbb;
  font-family: NanumMyeongjo;
  text-shadow: 0px 0px 4px #e8ebcb;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.home .svgBox {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  gap: 100px;
}
.home .svgBox article {
  width: 200px;
  height: 200px;
  position: relative;
}
.home .svgBox article svg {
  width: 70%;
  height: 70%;
}
.home .svgBox article svg path {
  fill: none;
  stroke: rgb(250, 250, 238);
  stroke-width: 2px;
  stroke-dasharray: 2085;
  stroke-dashoffset: 0;
  animation: starAni 10s alternate infinite;
  transform-origin: center center;
}
.home .svgBox .star1 {
  top: -100px;
}
.home .svgBox .star1 svg path {
  stroke-width: 5px;
}
.home .svgBox .star2 {
  top: 10px;
}
.home .svgBox .star2 svg path {
  stroke-width: 3px;
  animation: starAni2 7s alternate infinite;
}
.home .svgBox .star3 {
  top: -50px;
}
.home .svgBox .star3 svg path {
  stroke: rgb(205, 235, 248);
  stroke-width: 4px;
  stroke-dasharray: 2700;
}
.home .svgBox .moon {
  top: -200px;
}
.home .svgBox .moon svg path {
  stroke-width: 12px;
  stroke: rgb(248, 248, 205);
  animation: starAni2 7s alternate infinite;
}

@keyframes starAni {
  0% {
    stroke-dashoffset: 2800;
    transform: rotateZ(360deg);
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes starAni2 {
  0% {
    stroke-dashoffset: 2800;
    transform: rotateZ(-360deg);
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.about ul {
  width: 100%;
  height: 100%;
  padding: 200px 100px 50px 100px;
  display: flex;
  gap: 50px;
}
.about ul li {
  background-color: rgba(179, 179, 179, 0.4);
  width: 33.3333333333%;
  height: 300px;
  position: relative;
  border-radius: 20px;
  border: solid 2px rgba(179, 179, 179, 0.7);
  box-shadow: 0 0 20px rgba(197, 143, 143, 0.4);
}
.about ul li:nth-of-type(2) {
  top: 150px;
}
.about ul li:nth-of-type(3) {
  top: 300px;
}

/*# sourceMappingURL=style.css.map */
