*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li,ul{
    list-style: none;
}
body{
  background:#0c192c;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  .menuBtn{
    position: absolute;
    top: 40px;
    left: 75px;
    width: 40px;
    height: 20px;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    
    span{
      display: block;
      width: 40px;
      height: 4px;
      border-radius: 25px;
      background-color: #fff;
      box-shadow: 0 0 0 1px #585858;
   
      &::before,&::after{
          display: block;
          content: '';
          position: relative;
          width: 40px;
          height: 4px;
          border-radius: 25px;
          background-color: #fff;
          box-shadow: 0 0 0 1px #585858;
          transition: 0.2s;
      }
      &::before{
          top: -8px;
      }
      &::after{
          top: 4px;
      }
    }
    &:hover{
      span{
        &::before{
          top: 0px;
          transform: rotate(45deg);
        }
        &::after{
          top: -5px;
          transform: rotate(-45deg);
        }
     }
    }
  }

  .back{
    position: relative;
    width: 100%;
    height: 100vh;
    .stars{
      position: relative;
      display: flex;
      justify-content: space-around;
      flex-wrap:wrap-reverse;

      span{
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
        animation: bubleAni 15s linear infinite;
        animation-duration: calc(250s / var(--i) );
        opacity: 0.5;

        &:nth-of-type(even){
          background-color: #f0fa95;
          box-shadow: 0 0 0 10px #f1f5b844, 0 0 50px #f0fa95, 0 0 100px #f0fa95;
        }
      }
    }
  }
}

@keyframes bubleAni{
  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(1); 
  }
}