@media screen and (max-width : "1500px"){
body{
    .back{
        flex-wrap: nowrap;
        .stars{
    
          span{
            width: 10px;
            height: 10px;
            box-shadow: 0 0 0 5px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    
            &:nth-of-type(even){
              box-shadow: 0 0 0 5px #f1f5b844, 0 0 50px #f0fa95, 0 0 100px #f0fa95;
            }
          }
        }
      }
    .home{
        h1{
            font-size: 40px;
        }
        p{
            font-size: 16px;
        }
        .svgBox{
            gap: 50px;
            article{
                width: 100px;
                svg{
                    width: 50%;
                    height: 50%;
                }
            }
            .moon{
                top: -100px;
            }
        }
    }
    .about{
        ul{
            padding: 180px 10px 10px 10px; 
            gap: 20px;
            width: 60%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            
            li{
                width: 100%;
                height: 200px;
                text-align: center;
                
                &:nth-of-type(2){
                    top: 0px;
                }
                &:nth-of-type(3){
                    top: 0px;
                }
                h3{
                    font: 15px/1 EB Garamond;
                    margin: 25px;
                    color: #ddd;
                    letter-spacing: 7px;
                }
                p{
                    font: 12px/2 Nanum Myeongjo;
                    color: #bbb;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .skill{
        article{
            ul{
                padding: 50px;
             
                li{
                    width: 140px;
                    height: 140px;
                    
                    i{
                        margin-top: 10px;
                        font-size: 70px;
                    }
                    .adobe{
                        width: 70px;
                        height: 70px;
                        margin-top: 10px;
                        margin-left: 35px;
                        font-size: 32px;
                    }
                    h3{
                        margin-top: 5px;
                        color: #ddd;
                    }
                    &:nth-of-type(1){
                        transform: rotate(-29deg) translate(-50px, -180px);
                    }
                    &:nth-of-type(2){
                        transform: rotate(15deg) translate(-80px, 20px);
                    }
                    &:nth-of-type(3){
                        transform: rotate(-5deg) translate(150px, 90px);
                    }
                    &:nth-of-type(4){
                        transform: rotate(80deg);
                    }
                    &:nth-of-type(5){
                        transform: rotate(35deg) translate(60px, -70px);
                    }
                    &:nth-of-type(6){
                        transform: rotate(15deg) translate(0px, -100px);
                    }
                    &:nth-of-type(7){
                        transform: rotate(50deg) translate(100px, 170px);
                    }
                }
                &:hover{
                    li{
                        opacity: 0.7;
                        filter: blur(0);
                        &:nth-of-type(1){
                            transform: rotate(0deg) translate(-140px, -150px);
                        }
                        &:nth-of-type(2){
                            transform: rotate(0deg) translate(10px, -150px);
                        }
                        &:nth-of-type(3){
                            transform: rotate(0deg) translate(-140px, 0px);
                        }
                        &:nth-of-type(4){
                            transform: rotate(0deg) translate(160px, -150px);
                        }
                        &:nth-of-type(5){
                            transform: rotate(0deg) translate(10px, 0px);
                        }
                        &:nth-of-type(6){
                            transform: rotate(0deg) translate(-140px, 150px);
                        }
                        &:nth-of-type(7){
                            transform: rotate(0deg) translate(10px, 150px);
                        }
                    }
    
                }
            }
        }
    }
    .contact{
        article{
            top: 20%;
            ul{
                flex-direction: column;
                align-items: center;
                gap: 50px;
                li{
                    height: 120px;
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 20px;
                        margin-bottom: 15px;
                    }
                    p{
                        font: 14px/1.2 Nanum Myeongjo;
                        margin-bottom: 15px;
                    }
    
                    .open{
                        height: 125px;
                        
                        h3{
                            font: 18px/80px EB Garamond;
                        }
                        
                    }
                    
                }
            }
        }
    }
    .web{
        article{
            width: 40vw;

            margin-top: -20vh;
            margin-left: -20vw;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .textBox{
                height: 60%;
   
                h3{
                    font: bold 18px/1 EB Garamond;
                }
                span{
                    margin: 10px;
                    font: 16px/1 EB Garamond;
                }
                p{
                    font: 12px/2 Nanum Myeongjo;
                }
            }
            .pic{
                width: 85%;
                height: 100%;
              
                span{
                    font: bold 14px/1 EB Garamond;
                }
            }

        }
        nav {
            bottom: 15vh;
            right: 80px;
        }
    }
}
}